body {
  background-color: var(--secondary);
}

.container {
  margin: 1em;
  padding: 0.5em;
  background-color: var(--grey);
  border-radius: 10px;
}

.container h2 {
  margin-top: 20px;
  margin-left: 1em;
}

.list-card {
  margin: 1em;
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  gap: 20px;
}

.card .card-head {
  height: 320px;
  overflow: hidden;
}

/* Responsive Mobile */
@media only screen and (max-width: 600px) {
  .list-card {
    gap: 0;
    grid-template-columns: auto auto;
  }
}

/* Responsive Tablet */
@media only screen and (min-width: 600px) and (max-width: 1024px) {
  .list-card {
    grid-template-columns: auto auto auto;
  }
}
