.list-card {
  margin: 1em;
  display: grid;
  grid-template-columns: repeat(5, minmax(0, 1fr));
  gap: 20px;
}

/* Responsive Mobile */
@media only screen and (max-width: 600px) {
  .list-card {
    gap: 0;
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

/* Responsive Tablet */
@media only screen and (min-width: 600px) and (max-width: 1024px) {
  .list-card {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}
