body {
  background-color: var(--secondary);
}

.container {
  margin: 1em;
  padding: 0.5em;
  background-color: var(--grey);
  border-radius: 10px;
}

.container h2 {
  margin-top: 0.4em;
  margin-left: 1em;
}

.container ul {
  display: grid;
  grid-template-columns: auto auto;
}

.container ul li:last-child {
  text-align: end;
  font-size: 20px;
  margin-top: 10px;
  margin-right: 20px;
}

.container ul li:last-child:hover {
  cursor: pointer;
  text-shadow: 2px 2px hsla(0, 0%, 16%, 0.5);
}

.list-card {
  margin: 1em;
  display: grid;
  grid-template-columns: auto auto auto auto auto auto;
  gap: 20px;
}

/* Responsive Mobile */
@media only screen and (max-width: 600px) {
  .list-card {
    gap: 0;
    grid-template-columns: auto auto;
  }
}

/* Responsive Tablet */
@media only screen and (min-width: 600px) and (max-width: 1024px) {
  .list-card {
    grid-template-columns: auto auto auto;
  }
}
