@import url(/app/base/base.css);

.search-area {
  padding: 1.5rem;
}

input {
  margin-bottom: 1rem;
  padding: 9px;
  width: 75%;
  border: 2px solid rgb(0, 0, 90);
  border-radius: 5px;
}

.searchBtn {
  padding: 9px 12px;
  background-color: rgb(0, 0, 90);
  color: #fff;
  border: none;
  outline: none;
  border-radius: 5px;
}

.searchBtn:hover {
  cursor: pointer;
  background-color: rgb(0, 0, 52);
}
